body 
{
<<<<<<< HEAD
    color: rgb(97, 209, 87);
    text-align: left;
=======
    color: rgb(209, 152, 87);
    text-align: right;
>>>>>>> cabecera
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}